# Ignore parent directory to prevent monorepo detection
../.git
../package.json
../node_modules
../admin-portal
../src
../scripts
../docs
../config
../lib
../test
../cdk.out
../.aws-sam
../.pytest_cache
../.test-output
../.pre-generation
